<div class="containerr">


<div style="border: 2px solid black; border-radius: 10px;">
  <p-table #dt1 [value]="leaves" selectionMode="single" [(selection)]="selectedLeave" dataKey="id"
    styleClass="p-datatable-customers" [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="leaveType">Type Congé <p-sortIcon field="leaveType"></p-sortIcon>
        </th>
        <th pSortableColumn="matricule">Matricule <p-sortIcon field="matricule"></p-sortIcon>
        </th>
        <th pSortableColumn="dureeConge">Durée Congé <p-sortIcon field="dureeConge"></p-sortIcon>
        </th>
        <th pSortableColumn="date_debut">Date Début <p-sortIcon field="date_debut"></p-sortIcon>
        </th>
        <th pSortableColumn="date_fin">Date Fin <p-sortIcon field="date_fin"></p-sortIcon>
        </th>
        <th pSortableColumn="department.nom">Departement <p-sortIcon field="department.nom"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'leaveType.nom', 'contains')"
            [value]="dt1.filters['leaveType.nom']?.value" placeholder="Search by leaveType" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'matricule', 'contains')"
            [value]="dt1.filters['matricule']?.value" placeholder="Search by matricule" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'dureeConge', 'contains')"
            [value]="dt1.filters['dureeConge']?.value" placeholder="Search by dureeConge" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'date_debut', 'contains')"
            [value]="dt1.filters['date_debut']?.value" placeholder="Search by date_debut" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'date_fin', 'contains')"
            [value]="dt1.filters['date_fin']?.value" placeholder="Search by date_fin" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target.value, 'department.nom', 'contains')"
            [value]="dt1.filters['department.nom']?.value" placeholder="Search by Departement>" class="p-column-filter">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-leave>
      <tr [pSelectableRow]="leave">
        <td >
          {{leave.leaveType.nom}}
        </td>
        <td>
          {{leave.matricule}}
        </td>
        <td>
          {{leave.dureeConge}} Jour
        </td>
        <td>
          {{leave.date_debut}}
        </td>
        <td>
          {{leave.date_fin}}
        </td>
        <td>
          {{leave.department.nom}}
        </td>

        <td>

          <button class="btn btn-sm btn-danger" (click)="onDeleteLeave(leave?.id)">
            <i class="fa fa-remove"></i>Delete
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
