<div class="container" >
  <div class="ch">
    <form class="form-inline my-2 my-lg-0" >
      <input type="search"
      name="key" id="searchName" [(ngModel)]="filterDepName"
      ngModel class="form-control mr-sm-2" placeholder="Chercher Dep..." required>
      <input type="search"
      name="key" id="searchName" [(ngModel)]="filterEmpName"
      ngModel class="form-control mr-sm-2" placeholder="Chercher Agent..." required>
    </form>
  </div>

  <div class="row">
      <div  *ngFor="let employee of filterEmployess()" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
              <div class="card-body row">
                  <div class="col-6">
                      <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                  </div>
                  <div class="col-6 card-title align-self-center mb-0">
                    <h5>  {{employee?.nom}}</h5>
                    <h5>  {{employee?.prenom}}</h5>

                    <h5><a style="color: black;" routerLink="/employeeInfo/{{employee?.id}}"><p class="m-0">{{employee?.poste_budgetaire}}</p></a></h5>
                  </div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="fa fa-envelope float-right"></i> Matricule :{{employee?.matricule}}</li>
                  <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone :{{employee?.tele}}</li>
                  <li class="list-group-item"><i class="fa fa-envelope float-right"></i> Email :{{employee?.email}}</li>

              </ul>
              <div class="card-body">
                  <div class="float-right btn-group btn-group-sm">
                      <a routerLink="/editEmplyee/{{employee?.id}}" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" ><i class="fa fa-pencil"></i> </a>
                      <button (click)="archiveEmployee($event)" id={{employee?.id}} class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                        <i class="fa fa-times"></i>
                      </button>
                  </div>
                  <ul class="social-links list-inline mb-0">
                      <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                      <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>


  </div>
</div>
<router-outlet></router-outlet>
