<div class="container-fluid px-1 py-5 mx-auto " >
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center addex">
          <h3>Ajouter Conge</h3>
          <div class="card">
            <form #addForm="ngForm" (ngSubmit)="onAddLeave(addForm)">
              <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">First name :</label>  &nbsp; &nbsp; <input type="text" id="nom" ngModel="{{employee?.nom}}" name="nom" readonly /> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Last name :</label>  &nbsp; &nbsp; <input type="text" id="prenom" ngModel="{{employee?.prenom}}" name="prenom"    readonly/> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Matricule:</label>  &nbsp; &nbsp;  <input type="text" id="matricule" ngModel="{{employee?.matricule}}" name="matricule"  readonly/> </div>
                      <div class="form-group col-sm-6 flex-column d-flex test"> <label class="form-control-label px-3">Job title :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="text" id="poste_budgetaire" ngModel="{{employee?.poste_budgetaire}}" name="poste_budgetaire"  readonly /> </div>

                    </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Start Date :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="date" id="date_debut" ngModel name="date_debut"  /> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">End Date :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="date" id="date_fin" ngModel name="date_fin" /> </div>
                  </div>


                  <div class="row justify-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">Leave Type:<br><br> <select class="form-control-label px-3" name="leaveTypeId" id="nomtype" ngModel>
                      <option *ngFor="let lt of leavetypes" value={{lt?.id}} >{{lt?.nom}}</option>
                    </select> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Durée de congé :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="number" id="dureeConge" ngModel name="dureeConge" /> </div>

                </div>
                <div class="row justify-between text-left">
              </div>
                  <div class="row justify-content-end">
                      <div class="form-group col-sm-6 yesb"> <button type="submit" class="btn-block btn-primary" >Ajouter Conge</button> </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>


