<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
    <a class="navbar-brand" style="color:white;" >Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()"  routerLink="/addEmplyee" >Ajouter Employée<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()"  routerLink="/listEmplyee" >Liste des Employées<span class="sr-only">(current)</span></a>

        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()" routerLink="/archivedEmplyee" >Employée Archiver<span class="sr-only">(current)</span></a>

        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()" routerLink="/listleaves" >Liste des congés<span class="sr-only">(current)</span></a>

        </li>
        <!-- <li>
          <a class="nav-link" style="cursor: pointer;" *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" >Login<span class="sr-only">(current)</span></a>

        </li> -->
        <li>
          <a class="nav-link" style="cursor: pointer;" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" >LogOut<span class="sr-only">(current)</span></a>

        </li>
    </ul>

    </div>
</nav>

<router-outlet></router-outlet>
