<div class="container-fluid px-1 py-5 mx-auto ">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center addex">
      <h3>Modifier Agent</h3>
      <div class="card">
       <!--  <form #editForm="ngForm" (ngSubmit)="onEditEmployee(editForm)">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom
                :<span class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="prenom"
                ngModel="{{employee?.nom}}" name="prenom"  > </div>
                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Prénom
                  :<span class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="prenom"
                  ngModel="{{employee?.prenom}}" name="prenom"  > </div>
                  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Cin
                    :<span class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="prenom"
                    ngModel="{{employee?.cin}}" name="prenom"  > </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Matricule:<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="matricule"
                ngModel="{{employee?.matricule}}" name="matricule" placeholder="Enter your last name"> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email :<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="text" id="email" ngModel="{{employee?.email}}" name="email"
                placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Télé
                :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" id="tele" ngModel="{{employee?.tele}}"
                name="tele" placeholder=""> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Poste Budgetaire:<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="text" id="poste_budgetaire" ngModel="{{employee?.poste_budgetaire}}"
                name="poste_budgetaire" placeholder=""> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">What would you be
                using Flinks for?<span class="text-danger"> *</span>&nbsp; &nbsp;</label> <input type="text" id="ans"
                name="ans" placeholder=""> </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-sm-6 yesb"> <button type="submit" class="btn-block btn-primary">Modifier
                Agent</button> </div>
          </div>
        </form>
      </div> -->
      <form #editForm="ngForm" (ngSubmit)="onEditEmployee(editForm)">
      <div class="row justify-content-between text-left">
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom :<span class="text-danger"> *</span></label>  &nbsp; &nbsp; <input type="text" id="nom" ngModel="{{employee?.nom}}" name="nom"   > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Prénom :<span class="text-danger"> *</span></label>  &nbsp; &nbsp; <input type="text" id="prenom" ngModel="{{employee?.prenom}}" name="prenom"   > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">CIN :<span class="text-danger"> *</span></label>  &nbsp; &nbsp; <input type="text" id="cin" ngModel="{{employee?.cin}}" name="cin"   > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date Naissance :<span class="text-danger"> *</span></label>  &nbsp; &nbsp; <input type="date" id="date_naissance" ngModel="{{employee?.date_naissance}}" name="date_naissance"   > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tele :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" id="tele" ngModel="{{employee?.tele}}" name="tele" > </div>



        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Matricule:<span class="text-danger"> *</span></label>  &nbsp; &nbsp;  <input type="text" id="matricule" ngModel="{{employee?.matricule}}" name="matricule"  > </div>
    </div>
    <div class="row justify-content-between text-left">
      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Specialité :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="text" id="specialite" ngModel="{{employee?.specialite}}" name="specialite"  > </div>

      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date Embauche :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="date" id="hire_date" ngModel="{{employee?.hire_date}}" name="hire_date" placeholder="" > </div>
     <!--  <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Echelle :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="number" min="9" max="11" id="echelle" ngModel="{{employee?.echelle}}" name="echelle" placeholder="" > </div>
      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Grade:<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text"  id="grade" ngModel="{{employee?.grade}}" name="grade" placeholder="" > </div> -->

    </div>
    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="email" id="email" ngModel="{{employee?.email}}" name="email"  > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Diplome :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" id="diplome" ngModel="{{employee?.diplome}}" name="diplome" placeholder="" > </div>
    </div>

    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Poste Budgetaire :<span class="text-danger"> *</span></label><input type="text" id="poste_budgetaire" ngModel="{{employee?.poste_budgetaire}}" name="poste_budgetaire" placeholder="" > </div>
        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Localité<span class="text-danger"> *</span>&nbsp; &nbsp;</label> <input type="text" id="localite" ngModel="{{employee?.localite}}" name="localite" placeholder="" > </div>
        <!-- <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Service
          d'affectation :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<select name="department"
          id="department" ngModel size="1">
          <option *ngFor="let d of employee" value="{{d.department.nom}}">{{d.department.nom}}</option>
        </select></div> -->
    </div>
    <div class="row justify-content-between text-left">
      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Echelle :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="number" id="echelle" ngModel="{{employee?.echelle}}" name="echelle"  > </div>
      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Grade :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" id="grade" ngModel="{{employee?.grade}}" name="grade" placeholder="" > </div>
  </div>
    <!-- <div class="row justify-content-between text-left">
      <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Service d'affectation :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<select name="department" id="department" ngModel  size="1"> <option *ngFor="let d of departments" value="{{d.id}}">{{d.nom}}</option></select></div>
    </div> -->
    <div class="row justify-content-end">
        <div class="form-group col-sm-6 yesb"> <button type="submit" class="btn-block btn-primary">Modifier Agent</button> </div>
    </div>
  </form>
    </div>
  </div>
</div>

</div>
