<!-- <div class="container-fluid px-1 py-5 mx-auto ">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center addex">
      <h3>Les Informations d'Employee</h3>
      <div class="card">
        <br>
         <div class="row  text-left">
          <div class="form-group col-md-12 flex-column d-flex"> <label class="form-control-label px-3"> Nom
              :</label> &nbsp; &nbsp; {{employee?.nom}} </div>
          <div class="form-group col-md-12 flex-column d-flex"> <label class="form-control-label px-3">Prénom <i
                aria-hidden="true"></i>:</label> &nbsp; &nbsp; {{employee?.prenom}} </div>
                <div class="form-group col-md-12 flex-column d-flex"> <label class="form-control-label px-3">Prénom <i
                  aria-hidden="true"></i>:</label> &nbsp; &nbsp; {{employee?.prenom}} </div>
        </div> -->
<!-- <div >
          <label class="form-control-label px-3"> Nom :</label> &nbsp; &nbsp; {{employee?.nom}}
          <label class="form-control-label px-3">Prénom :</label> &nbsp; &nbsp; {{employee?.prenom}}
        </div> -->
<!-- <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3"> Cin
              :</label> &nbsp; &nbsp; {{employee?.cin}} </div>
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Matricule:</label> &nbsp; &nbsp; {{employee?.matricule}} </div>
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Diplome:</label> &nbsp; &nbsp; {{employee?.diplome}} </div>

        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email :</label>
            &nbsp; &nbsp; {{employee?.email}}</div>
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Télé
              : <i
              class="fa fa-phone" aria-hidden="true"></i></label>&nbsp; &nbsp;{{employee?.tele}} </div>
        </div>
        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Poste Budgetaire
              :</label> &nbsp; &nbsp;{{employee?.poste_budgetaire}}</div>
              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Solde Congé
                :</label> &nbsp; &nbsp;{{employee?.leaveBalance}}</div>
        </div>


        <div class="container my-3 ">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-secondary" routerLink='/infoleave/{{employee?.id}}'>Leave Info</button>&nbsp;&nbsp; -->
<!--<button type="button" class="btn btn-primary" routerLink='/addleave'>Add leave</button>&nbsp;&nbsp;-->
<!--    <button type="button" class="btn btn-success"><a href='{{baseUrl}}/files/{{employee?.cv.nom}}'> CV</a></button>

              <img src='{{baseUrl}}/files/{{employee?.image.nom}}' alt="" width="100px" height="100px">
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

 -->

<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
           <img src='{{baseUrl}}/files/{{employee?.image.nom}}' alt="" width="100px" height="100px">

        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{employee?.nom}} {{employee?.prenom}}

          </h5>
          <h6>
            {{employee?.poste_budgetaire}}
          </h6>
          <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          <br>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Timeline</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">

        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Matricule</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.matricule}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>CIN</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.cin}} </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Localité</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.localite}} </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Diplome</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.diplome}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Embauche</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.hire_date}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Service d'affectation</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.department.nom}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Grade</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.grade}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Echelle</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.echelle}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Télé</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.tele}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Solde Congé de deux année dernier</label>
              </div>
              <div class="col-md-6">
                <p>{{employee?.leaveBalance}} Jour</p>
              </div>
            </div>
          </div>
          <br>
          <div class="containerr">
            <div class="centerr">
              <!-- <button type="button" class="btn btn-success"><a
                  href='{{baseUrl}}/files/{{employee?.cv.nom}}'> Afficher Cv</a></button>&nbsp;&nbsp; -->
              <button type="button" class="btn btn-secondary" routerLink='/infoleave/{{employee?.id}}'>Leave
                Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
