<h3 class="tabletitle">Liste de Congé d'employée :   {{employee.nom}} {{employee.prenom}}</h3>

<table class="table table-bordered table-hover">

  <thead class="thead-dark">

    <tr>

      <th scope="col">Type de Congé</th>

      <th scope="col">Date Début</th>
      <th scope="col">Date Fin</th>
      <th scope="col">La durée</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let l of employee?.leaves">

      <td>{{l.leaveType.nom}}</td>

      <td>{{l.date_debut}}</td>
      <td>{{l.date_fin}}</td>
      <td>{{l.dureeConge}}(Jour) </td>
      <td> <button class="btn btn-sm btn-info" (click)="downloadLeavePdf(l.id,employee.nom)">
          <i class="fa fa-download"></i>
        </button></td>
    </tr>
  </tbody>
</table>

<div class="col-md-12 text-center">
  <button type="button" class="btn btn-success" routerLink="/addleave/{{employee?.id}}">Ajouter Congé</button>
</div>
<router-outlet></router-outlet>
