table{
  width: 50%;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;

}
tr,th,td{
  border: 2px solid black;

}
.tabletitle{
  text-align: center;
  margin: 45px;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}
