<div class="container-fluid px-1 py-5 mx-auto ">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center addex">
      <h3>Ajouter Agent</h3>
      <div class="card">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom :<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="nom" ngModel name="nom"
                class="fas fa-user" placeholder="Entrer le nom " required> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Prénom :<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" required id="prenom" ngModel
                name="prenom" placeholder="Entrer le prénom "> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">CIN :<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" id="cin" required ngModel name="cin"
                placeholder="Entrer le cin "> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date Naissance
                :<span class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="date" required id="date_naissance"
                ngModel name="date_naissance" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tele :<span
                  class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" required id="tele" ngModel name="tele"
                placeholder=""> </div>



            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Matricule:<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp; <input type="text" required id="matricule" ngModel
                name="matricule" placeholder="Entrer le matricule"> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Specialité
                :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="text" required id="specialite" ngModel
                name="specialite" placeholder=""> </div>

            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date Embauche
                :<span class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="date" required id="hire_date" ngModel
                name="hire_date" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Echelle :<span
                  class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="number" required min="9" max="11" id="echelle"
                ngModel name="echelle" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Grade:<span
                  class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" id="grade" required ngModel name="grade"
                placeholder=""> </div>

          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email :<span
                  class="text-danger"> *</span></label> &nbsp; &nbsp;<input type="email" required id="email" ngModel name="email"
                placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Diplome :<span
                  class="text-danger"> *</span></label>&nbsp; &nbsp; <input type="text" required id="diplome" ngModel
                name="diplome" placeholder=""> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Poste Budgetaire
                :<span class="text-danger"> *</span></label><input type="text" required id="poste_budgetaire" ngModel
                name="poste_budgetaire" placeholder=""> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Localité<span
                  class="text-danger"> *</span>&nbsp; &nbsp;</label> <input type="text" required id="localite" ngModel
                name="localite" placeholder=""> </div>

          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-4 flex-column d-flex"> <label class="form-control-label px-3">Service
                d'affectation :<span class="text-danger"> *</span></label> &nbsp; &nbsp;<select name="department"
                id="department" ngModel size="1" required>
                <option *ngFor="let d of departments" value="{{d.id}}">{{d.nom}}</option>
              </select></div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">CV
                :<span class="text-danger"> *</span></label><input type="file" id="cv" required ngModel name="cv" placeholder="" (change)="selectCv($event)">
            </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Photo
                :<span class="text-danger"> *</span></label><input type="file" required id="image" ngModel name="image"
                placeholder="" (change)="selectImage($event)"> </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-sm-6 yesb"> <button type="submit" class="btn-block btn-primary">Ajouter
                Employée</button> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
